


h1 {
    padding-top:100px;
  text-align: center;
  color: white;
  font-size: 55px;
  font-family: snell roundhand, cursive;
}


h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: avantgarde, sans-serif;
  padding-bottom: 20px;
  font-weight: 200;
}

h3 {
  padding-top: -20px;
  text-align: center;
  color:gray;
  font-size: 20px;
  font-family: avantgarde, sans-serif;
  padding-bottom: 20px;
  font-weight: 100;
  font-style: italic;
}

body {

  background-color: #22243e;
  text-align: center;
}




/* -----------page 1-------------- */


.wrapper1 {
    
    text-align: center;
    align-content: center;
    width: 414px;
    height: 736px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to bottom, #6a6a7e 0%, #212445 81%);
  
    overflow: hidden;
  
}



/* ------------page 2------------ */




.wrapper2 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #6a6a7e 0%, #212445 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
   
}

.scrollBox {  
    left:60px;
    top: 50px;
    text-align: center;
    position:absolute;
    padding: 20px;
    margin: 0 auto;
    height: 300px;
    width: 250px;
    border: 1px solid #ccc;
    font: 16px Georgia, Garamond, Serif;
    background: white;
    overflow:scroll;
}

#kumquat {  
     position:relative;
     z-index:5; 
     animation-name: kumquat;
     animation-duration: 3s;
     animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes kumquat{
  0% {
    transform:    rotate(360deg) ;
  }
  100% {
    transform:   rotate(NaNdeg) ;
  }
}

@-moz-keyframes kumquat{
  0% {
    -moz-transform:   rotate(360deg) ;
  }
  100% {
    -moz-transform:   rotate(NaNdeg) ;
  }
}

@-webkit-keyframes kumquat {
  0% {
    -webkit-transform:   rotate(360deg) ;
  }
  100% {
    -webkit-transform:   rotate(NaNdeg) ;
  }
}

@-o-keyframes kumquat {
  0% {
    -o-transform:   rotate(360deg) ;
  }
  100% {
    -o-transform:  rotate(NaNdeg) ;
  }
}

@-ms-keyframes kumquat {
  0% {
    -ms-transform:  rotate(360deg) ;
  }
  100% {
    -ms-transform:  rotate(NaNdeg) ;
  }
}


#rat {
    left:0px;
    padding-top: 440px;
    position: relative;
    align-content:left;
    text-align:left;
    z-index:3;
    

}

#onward2 {
    position:absolute;
    padding-top:410px;
    padding-left: 115px;
    z-index: 17;
    
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    
    -webkit-filter: drop-shadow(0px 0px 6px white);

}

#onward1 {
    z-index: 17;
    padding-top:50px;
    	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    
    animation-delay: 3s;
    -webkit-animation-name: onward1; 
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: 1;
    
    animation-name: onward1;
    animation-duration: 6s;
    animation-iteration-count: 1;
 
    -webkit-filter: drop-shadow(0px 0px 6px white);
}

@keyframes onward1 {
    0%   {opacity:0;}
    15% {opacity:0;}
    50% {opacity:100;}
    100% {opacity:100;}
}


/* ------------page 3------------ */  


.wrapper3 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #af9058 0%, #212445 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

#onward3 {
    padding-top:490px;
    z-index: 15;
    position: relative;

    -webkit-filter: drop-shadow(0px 0px 6px white);
    display: none;
}


#pennyFarthing1 {
     position: absolute;
     padding-top: 380px;
     left:-420px;
     z-index: 16; 
     -webkit-animation: pennyFarthing1 6s;  /* Chrome, Safari, Opera */
    animation: pennyFarthing1 6s;
     /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;  /* Chrome, Safari, Opera */
    animation-delay: 1s;
       animation-timing-function: linear;  
  
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pennyFarthing1 {
    from {left: -400px;}
    to {left: 600px;}
}

@keyframes pennyFarthing1 {
    from {left: -350px;}
    to {left: 600px;}
}


.bigWheel {
     position: absolute;
  
     z-index: 18; 
    
    animation: bigWheel linear 6s;
     -webkit-animation-delay: 1s;  /* Chrome, Safari, Opera */
    animation-delay: 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: bigWheel linear 6s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: bigWheel linear 6s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: bigWheel linear 6s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: bigWheel linear 6s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes bigWheel{
  0% {
    transform:  translate(-950px,0px)  rotate(-360deg) ;
  }
  100% {
    transform:  translate(50px,0px)  rotate(NaNdeg) ;
  }
}

@-moz-keyframes bigWheel{
  0% {
    -moz-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -moz-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-webkit-keyframes bigWheel {
  0% {
    -webkit-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -webkit-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-o-keyframes bigWheel {
  0% {
    -o-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -o-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-ms-keyframes bigWheel {
  0% {
    -ms-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -ms-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

.bigWheel {
    top:400px;
    left:435px;
}




.smallWheel {
     position: absolute;
 
   
     z-index: 16; 

    
    animation: smallWheel linear 3.5s;
     -webkit-animation-delay: 1s;  /* Chrome, Safari, Opera */
    animation-delay: 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: smallWheel linear 3.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: smallWheel linear 3.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: smallWheel linear 3.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: smallWheel linear 3.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes smallWheel{
  0% {
    transform:  translate(-550px,0px)  rotate(-360deg) ;
  }
  100% {
    transform:  translate(320px,0px)  rotate(NaNdeg) ;
  }
}

@-moz-keyframes smallWheel{
  0% {
    -moz-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -moz-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-webkit-keyframes smallWheel {
  0% {
    -webkit-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -webkit-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-o-keyframes smallWheel {
  0% {
    -o-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -o-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-ms-keyframes smallWheel {
  0% {
    -ms-transform:  translate(249px,-48px)  rotate(-360deg) ;
  }
  100% {
    -ms-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

.smallWheel {
    top:540px;
    left:420px;
}



#tree {
    position: absolute;
    left: -50px;
    padding-top: 50px;
    z-index: 10;
    
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    -webkit-filter: drop-shadow(0px 0px 2px white);
}

#green {
    position: absolute;
     left: -30px;
     padding-top: 320px;
     z-index: 5; 
}

#brown {
     position: absolute;
     left: -30px;
     padding-top: 430px;
     z-index: 4;
}

#brown2 {
     position: absolute;
     left: -30px;
     padding-top: 560px;
     z-index: 3;
}


#road{
    position: absolute;
     left: 200px;
     padding-top: 342px;
     z-index: 7;
}

#trees1 {
    position: absolute;
     left: -150px;
     padding-top: 205px;
     z-index: 8;
}

#trees2 {
    position: absolute;
     left: 180px;
     padding-top: 224px;
     z-index: 7;
}

#bush1 {
    position: absolute;
     left: -80px;
     padding-top: 550px;
     z-index: 21;
}

#bush2 {
    
    position: absolute;
     left: 250px;
     padding-top: 550px;
     z-index: 21;
}






/* -------------page 4-------------- */



.wrapper4 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #769075 0%, #070f08 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

#onward4 {
    padding-top:650px;
    z-index: 15;
    	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    
    -webkit-filter: drop-shadow(0px 0px 6px white);

}



#bug {
    position: absolute;
     left: 273px;
top:700px;
     z-index: 8; 
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(50deg);
    
           animation-delay: 3s;
        -webkit-animation-name: bug; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation-name: bug;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bug {
    0%   {top:850px;}
    50%  {top:320;}
    100% {top:850px;}
}

/* Standard syntax */
@keyframes bug {
    0%   {top:850px;}
    50%  {top:320px;}
    100% {top:850px;}
}



.snake {
    position: absolute;


     z-index: 4;
       
    
    animation: snake linear 4s;
     -webkit-animation-delay: 3s;  /* Chrome, Safari, Opera */
    animation-delay: 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: snake linear 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: snake linear 4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: snake linear 4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: snake linear 4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}



@keyframes snake{
  0% {
    transform:  translate(600px,0px)  rotate(360deg) ;
  }
  100% {
    transform:  translate(-600px,0px)  rotate(NaNdeg) ;
  }
}

@-moz-keyframes snake{
  0% {
    -moz-transform:  translate(249px,-48px)  rotate(360deg) ;
  }
  100% {
    -moz-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-webkit-keyframes snake {
  0% {
    -webkit-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -webkit-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-o-keyframes snake {
  0% {
    -o-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -o-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-ms-keyframes snake {
  0% {
    -ms-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -ms-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

.snake {
    top:445px;
    left:-155px;
}


#junglePortal {
     position: absolute;
     left: -50px;
     padding-top: 100px;
     z-index: 3;
}


#junglePortal2 {
     position: absolute;
     left: -50px;
     padding-top: -300px;
     z-index: 2;
    margin-top: -350px;
}

#junglePortal3 {
     position: absolute;
     left: -50px;
     padding-top: 530px;
     z-index: 2;
}

#green2 {
    position: absolute;
     left: -30px;
     padding-top: 554px;
     z-index: 3; 
}



#flower {

     position: absolute;
     
   
     z-index: 8;
    
animation: flower1 ease-in-out 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: flower1 ease-in-out 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: flower1 ease-in-out 5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: flower1 ease-in-out 5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: flower1 ease-in-out 5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes flower1{
  0% {
    transform:  translate(150px,0px)  rotate(180deg) ;
  }
  100% {
    transform:  translate(302px,0px)  rotate(NaNdeg) ;
  }
}

@-moz-keyframes flower1{
  0% {
    -moz-transform:  translate(249px,-48px)  rotate(360deg) ;
  }
  100% {
    -moz-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-webkit-keyframes flower1 {
  0% {
    -webkit-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -webkit-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-o-keyframes flower1 {
  0% {
    -o-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -o-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}

@-ms-keyframes flower1 {
  0% {
    -ms-transform:  translate(249px,-48px)  rotate(-1801deg) ;
  }
  100% {
    -ms-transform:  translate(-302px,-48px)  rotate(NaNdeg) ;
  }
}


#flower2 {
     position: absolute;
     left: -10px;
     padding-top: 430px;
     z-index: 8;
     -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
         -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#flower3 {
     position: absolute;
     left: -15px;
     padding-top: 300px;
     z-index: 8;
         -ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    
         -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#leaf {
     position: absolute;
     left: -100px;
     padding-top: 20px;
     z-index: 8;
    
     -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(88deg);
}

#leaf2 {
     position: absolute;
     left: -70px;
     padding-top: 0px;
     z-index: 13;
  
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(80deg);
}

#leaf3 {
     position: absolute;
     left: 200px;
     padding-top: 470px;
     z-index: 14;
 

  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    transform:   rotate(19deg) ;
  }
  100% {
    transform:    rotate(2deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:    rotate(19deg) ;
  }
  100% {
    -moz-transform:    rotate(2deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:    rotate(19deg) ;
  }
  100% {
    -webkit-transform:    rotate(2deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:    rotate(19deg) ;
  }
  100% {
    -o-transform:    rotate(2deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:    rotate(19deg) ;
  }
  100% {
    -ms-transform:    rotate(2deg) ;
  }
}  




#leaf4 {
     position: absolute;
     left: 460px;
     padding-top: 810px;
     z-index: 12;
         -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(60deg);

}



#leaf5 {
     position: absolute;
     left: 180px;
     padding-top: 450px;
     z-index: 10;
    
      animation: leaf5 linear 1s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: leaf5 linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: leaf5 linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: leaf5 linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: leaf5 linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes leaf5{
  0% {
    transform:   rotate(19deg) ;
  }
  100% {
    transform:    rotate(15deg) ;
  }
}

@-moz-keyframes leaf5{
  0% {
    -moz-transform:    rotate(19deg) ;
  }
  100% {
    -moz-transform:    rotate(15deg) ;
  }
}

@-webkit-keyframes leaf5 {
  0% {
    -webkit-transform:    rotate(19deg) ;
  }
  100% {
    -webkit-transform:    rotate(15deg) ;
  }
}

@-o-keyframes leaf5 {
  0% {
    -o-transform:    rotate(19deg) ;
  }
  100% {
    -o-transform:    rotate(15deg) ;
  }
}

@-ms-keyframes leaf5 {
  0% {
    -ms-transform:    rotate(19deg) ;
  }
  100% {
    -ms-transform:    rotate(15deg) ;
  }
}  


#leaf6 {
     position: absolute;
     left: 200px;
     padding-top: 520px;
     z-index: 15;
    
      animation: leaf6 linear 1s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: leaf6 linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: leaf6 linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: leaf6 linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: leaf6 linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes leaf6{
  0% {
    transform:   rotate(21deg) ;
  }
  100% {
    transform:    rotate(-5deg) ;
  }
}

@-moz-keyframes leaf6{
  0% {
    -moz-transform:    rotate(21deg) ;
  }
  100% {
    -moz-transform:    rotate(-5deg) ;
  }
}

@-webkit-keyframes leaf6 {
  0% {
    -webkit-transform:    rotate(21deg) ;
  }
  100% {
    -webkit-transform:    rotate(-5deg) ;
  }
}

@-o-keyframes leaf6 {
  0% {
    -o-transform:    rotate(21deg) ;
  }
  100% {
    -o-transform:    rotate(-5deg) ;
  }
}

@-ms-keyframes leaf6 {
  0% {
    -ms-transform:    rotate(21deg) ;
  }
  100% {
    -ms-transform:    rotate(-5deg) ;
  }
}  




/* -------------page 5------------ */



.wrapper5 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #6a6a7e 0%, #212445 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

#bottle1 {
     position: absolute;
     left: -45px;
     padding-top: 270px;
     z-index:3; 

}

#bottle2 {
     position: absolute;
     left: 151px;
     padding-top: 470px;
     z-index:7; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);

}

#bottle3 {
     position: absolute;
     left: -10px;
     padding-top: 420px;
     z-index:3; 
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);

}

#bottle311 {
     position: absolute;
     left: 255px;
     padding-top: 484px;
     z-index:6; 
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);

}

#bottle4 {
     position: absolute;
     left: 230px;
     padding-top: 300px;
     z-index:2; 

}


#bottle11 {
     position: absolute;
     left: 155px;
     padding-top: 400px;
     z-index:7; 

                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

/* top bottles */

#bottle21 {
     position: absolute;
     left: 200px;
     margin-top: -130px;
     z-index:6; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

}

#bottle41 {
     position: absolute;
     left: -45px;
     margin-top: -40px;
     z-index:5; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(175deg);
}

#bottle31 {
     position: absolute;
     left:310px;
     margin-top: -70px;
     z-index:5; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(190deg);
}

#bottle111 {
     position: absolute;
     left:10px;
     margin-top: -140px;
     z-index:3; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(175deg);

}


#bottle411 {
    margin-top:-200px;
     position: absolute;
     left: 140px;
     padding-top: 250px;
     z-index:5; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-195deg);
}

#bottle211 {
    margin-top:-120px;
     position: absolute;
     left: 70px;
     padding-top: 50px;
     z-index:3; 
             -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-210deg);

}

/* water */

#water1 {
     position: absolute;
     left: 13px;
     padding-top:200px;
     z-index:1; 
}


#water2 {
     position: absolute;
     left: 265px;
    padding-top:100px;
     z-index:5; 
    animation-name: water2;
    animation-duration: 50s;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes water2 {
    0%   {opacity:0;}
    15% {opacity:100;}
    75%   {opacity:100;}
    80%  {opacity:0}
    100% {opacity:100;}
}



/* drops */




#drop1 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop1 {
    0%   {top:-4000px;}
    100% {top:500px;}
}


#drop2 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop2 {
    0%   {top:-3900px;}
    100% {top:600px;}
}

#drop3 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop3 {
    0%   {top:-3800px;}
    100% {top:700px;}
}


#drop4 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop4 {
    0%   {top:-3700px;}
    100% {top:800px;}
}

#drop5 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop5;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop5 {
    0%   {top:-3600px;}
    100% {top:900px;}
}

#drop6 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop6;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop6 {
    0%   {top:-3500px;}
    100% {top:1000px;}
}

#drop7 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop7;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop7 {
    0%   {top:-3400px;}
    100% {top:1100px;}
}

#drop8 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop8;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop8 {
    0%   {top:-3300px;}
    100% {top:1200px;}
}

#drop9 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop9;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop9 {
    0%   {top:-3200px;}
    100% {top:1300px;}
}

#drop10 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop10;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop10 {
    0%   {top:-3100px;}
    100% {top:1400px;}
}

#drop11 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop11;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop11 {
    0%   {top:-3000px;}
    100% {top:1500px;}
}

#drop12 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop12;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop12 {
    0%   {top:-2900px;}
    100% {top:1600px;}
}

#drop13 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop13;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop13 {
    0%   {top:-2800px;}
    100% {top:1700px;}
}

#drop14 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop14;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop14 {
    0%   {top:-2700px;}
    100% {top:1800px;}
}

#drop15{
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop15;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop15 {
    0%   {top:-2600px;}
    100% {top:1900px;}
}

#drop16 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop16;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop16 {
    0%   {top:-2500px;}
    100% {top:2000px;}
}

#drop17 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop17;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop17 {
    0%   {top:-2400px;}
    100% {top:2100px;}
}

#drop18 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop18;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop18 {
    0%   {top:-2300px;}
    100% {top:2200px;}
}

#drop19 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop19;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop19 {
    0%   {top:-2200px;}
    100% {top:2300px;}
}

#drop20 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop20;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop20 {
    0%   {top:-2100px;}
    100% {top:2400px;}
}

#drop21 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop21;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop21 {
    0%   {top:-2000px;}
    100% {top:2500px;}
}

#drop22 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop22;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop22 {
    0%   {top:-1900px;}
    100% {top:2600px;}
}

#drop23 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop23;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop23 {
    0%   {top:-1800px;}
    100% {top:2700px;}
}

#drop24 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop24;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop24 {
    0%   {top:-1700px;}
    100% {top:2800px;}
}

#drop25 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop25;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop25 {
    0%   {top:-1600px;}
    100% {top:2900px;}
}

#drop26 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop26;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop26 {
    0%   {top:-1500px;}
    100% {top:3000px;}
}

#drop27 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop27;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop27 {
    0%   {top:-1400px;}
    100% {top:3100px;}
}

#drop28 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop28;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop28 {
    0%   {top:-1300px;}
    100% {top:3200px;}
}

#drop29 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop29;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop29 {
    0%   {top:-1200px;}
    100% {top:3300px;}
}

#drop30 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop30;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop30 {
    0%   {top:-1100px;}
    100% {top:3400px;}
}

#drop31 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop31;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop31 {
    0%   {top:-1000px;}
    100% {top:3500px;}
}

 #drop32 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop32;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop32 {
    0%   {top:-900px;}
    100% {top:3600px;}
}

#drop33 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop33;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop33 {
    0%   {top:-800px;}
    100% {top:3700px;}
}

#drop34 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop34;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop34 {
    0%   {top:-700px;}
    100% {top:3800px;}
}

#drop35 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop35;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop35{
    0%   {top:-600px;}
    100% {top:3900px;}
}

#drop36 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop36;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop36 {
    0%   {top:-500px;}
    100% {top:4000px;}
}

#drop37 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop37;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop37 {
    0%   {top:-400px;}
    100% {top:4100px;}
}

#drop38 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop38
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop38 {
    0%   {top:-300px;}
    100% {top:4200px;}
}

#drop39 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop39
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop39 {
    0%   {top:-200px;}
    100% {top:4300px;}
}

#drop40 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop40
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop40 {
    0%   {top:-100px;}
    100% {top:4400px;}
}

#drop41 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop41
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop41 {
    0%   {top:0px;}
    100% {top:4500px;}
}

#drop42 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop42
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop42 {
    0%   {top:100px;}
    100% {top:4500px;}
}

#drop43 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop43
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop43 {
    0%   {top:200px;}
    100% {top:4500px;}
}

#drop44 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop44
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop44 {
    0%   {top:300px;}
    100% {top:4500px;}
}

#drop45 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop45
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop45 {
    0%   {top:400px;}
    100% {top:4500px;}
}

#drop46 {
    position: absolute;
    left: 269px;
    padding-top:0px;
    z-index:5; 
    animation-name: drop46
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes drop46 {
    0%   {top:500px;}
    100% {top:4500px;}
}

/* #dropsAll2 {
    position: absolute;
    left: 267px;
    padding-top:0px;
    z-index:5; 
    animation-name: dropsAll2;
    animation-duration: 7s;
    
    animation-iteration-count: 1;
    animation-timing-function: linear;  
}

@keyframes dropsAll2 {
    0%   {top:-700px;}
    100% {top:500px;}
}
*/



/* sparkles */

#sparkle1 {
     position: absolute;
     z-index:17; 
     left: 254px;
     top:175px;
    
     animation-name: sparkle1;
     animation-duration: 1s;
     animation-delay: 2s;

    -webkit-animation: sparkle1 infinite 1s ease-in-out;
}

@keyframes sparkle1{
    0% {
        transform: scale(0.0);
    }
    33% {
        transform: scale(2.0);
    }
    100% {
        transform: scale(0.0);
    }
}

#sparkle2 {
     position: absolute;
     z-index:12; 
     left:203px;
     top:418px;      
     animation-name: sparkle2;
     animation-duration: 1s;
     animation-delay: 1s;

    -webkit-animation: sparkle2 infinite 1s ease-in-out;  
}

@keyframes sparkle2{
    0% {
        transform: scale(1.0);
    }

    33% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

#sparkle3 {
     position: absolute;
     z-index:17; 
     left: 48px;
     top:430px;
    
     animation-name: sparkle1;
     animation-duration: 1s;
     animation-delay: 2s;

    -webkit-animation: sparkle3 infinite 1s ease-in-out;
}

@keyframes sparkle3{
    0% {
        transform: scale(0.0);
    }
    15% {
        transform: scale(1.0);
    }
    35% {
        transform: scale(0.0);
    }
    85%{
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

#sparkle4 {
     position: absolute;
     z-index:17; 
     left: 380px;
     top:310px;
    
     animation-name: sparkle4;
     animation-duration: 1s;
     animation-delay: 2s;

    -webkit-animation: sparkle4 infinite 1s ease-in-out;
}

@keyframes sparkle4{
    0% {
        transform: scale(0.0);
    }
    15% {
        transform: scale(2.0);
    }
    35% {
        transform: scale(0.0);
    }
    85%{
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

#sparkle5 {
     position: absolute;
     z-index:17; 
     left: 10px;
     top:280px;
    
     animation-name: sparkle5;
     animation-duration: 1s;
     animation-delay: 2s;

    -webkit-animation: sparkle5 infinite 1s ease-in-out;
}

@keyframes sparkle5{
    0% {
        transform: scale(0.0);
    }
    20% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.0);
    }
    80%{
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

#sparkle6 {
     position: absolute;
     z-index:17; 
     left: 170px;
     top:130px;
    
     animation-name: sparkle6;
     animation-duration: 1s;
     animation-delay: 2s;

    -webkit-animation: sparkle6 infinite 1s ease-in-out;
}

@keyframes sparkle6{
    0% {
        transform: scale(0.0);
    }
    25% {
        transform: scale(2.0);
    }
    50% {
        transform: scale(0.0);
    }
    75%{
        transform: scale(2.0);
    }
    100% {
        transform: scale(0.0);
    }
}


/* @keyframes sparkle2 {
    0%   {opacity:0;}
    5% {opacity:100;}
    75%   {opacity:100;}
    80%  {opacity:0}
    100% {opacity:100;}
}
*/
    
/* lizards */


#lizard1 {
     position: absolute;
     left: 235px;
     padding-top: 490px;
     z-index:9; 
}  


#diamond1 {
     width: 20px;
     height: 20px;
     top:624px;
     position: absolute;
     left: 309px;
    
     z-index:13; 
     animation-name: diamond1;
     animation-duration: 5s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(37deg);

}

@keyframes diamond1 {
    0%   {background-color: #4fa34f;}
    33%  {background-color: #4432cd;}
    100% {background-color: #4fa34f;}
}

#diamond2 {
     width: 10px;
     height: 10px;
     top:655px;
     position: absolute;
     left: 312px;
    
     z-index:13; 
    
     animation-name: diamond2;
     animation-duration: 4s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(59deg);

}

@keyframes diamond2 {
    0%   {background-color: #f0258b;}
    33%  {background-color: #f06735;}
    100% {background-color: #f0258b;}
}

#diamond3 {
     width: 10px;
     height: 10px;
     top:603px;
     position: absolute;
     left: 310px;
     
     z-index:13; 
     animation-name: diamond3;
     animation-duration: 3s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);

}

@keyframes diamond3 {
    0%   {background-color: #00aefc;}
    33%  {background-color: lightyellow;}
    100% {background-color: #00aefc;}
}

#lizard2 {
     position: absolute;
     left: 0px;
     padding-top: 0px;
     z-index:15; 
    
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(170deg);
} 

#diamond4 {
     width: 10px;
     height: 10px;
     top:100px;
     position: absolute;
     left: 27px;
     
     z-index:16; 
     animation-name: diamond4;
     animation-duration: 3s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);

}

@keyframes diamond4 {
    0%   {background-color: #b951d8;}
    33%  {background-color: #f7f70f;}
    100% {background-color: #b951d8;}
}

#diamond5 {
     width: 8px;
     height: 8px;
     top:85px;
     position: absolute;
     left: 25px;
     
     z-index:16; 
     animation-name: diamond5;
     animation-duration: 3s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);

}

@keyframes diamond5 {
    0%   {background-color: lawngreen;}
    33%  {background-color: lightyellow;}
    100% {background-color: lawngreen;}
}

#diamond6 {
     width: 8px;
     height: 8px;
     top:115px;
     position: absolute;
     left: 36px;
     
     z-index:16; 
     animation-name: diamond6;
     animation-duration: 3s;
     animation-iteration-count: infinite;
                 -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);

}

@keyframes diamond6 {
    0%   {background-color: #00fcdf;}
    33%  {background-color: #4642a7;}
    100% {background-color: #00fcdf;}
}


/*----------- page 6 ----------*/




.wrapper6 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #2d3831 0%, #040504 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

#greenCoral {
    position: absolute;
     left: 240px;
     padding-top: 590px;
     z-index: 9; 
}

#pinkCoral {
    position: absolute;
     left: -10px;
     padding-top: 470px;
     z-index: 9; 
}

#tent {
    position: absolute;
     left: 230px;
     padding-top: 210px;
     z-index: 5; 
}

#ferrisWheel {
    position: absolute;

     z-index: 4; 
    
    -webkit-animation: ferrisWheel 11s infinite linear;
}

@-webkit-keyframes ferrisWheel {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#ferrisWheel {
    
    top:90px;
}

#stand {
    position: absolute;
     left: 42px;
     padding-top: 190px;
     z-index: 6; 
}

#pinkGlow {
    position: absolute;
     left: 350px;
     padding-top: 50px;
     z-index: 3; 
}

#greenGlow {
    position: absolute;
     left: 200px;
     padding-top: 100px;
     z-index: 3; 
}

#longFish {
    position: absolute;
     left: 250px;
     padding-top: 200px;
     z-index: 4; 
}

#roundFish {
    position: absolute;
     left: 150px;
     padding-top: 420px;
     z-index: 12; 
}





/* ------------page 7----------- */


.wrapper7 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #faeada 0%, #ea7a51 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}


#book1 {
    position: absolute;
     left: 220px;
     padding-top: 350px;
     z-index: 9; 
}

#book2 {
    position: absolute;
     left: -190px;
     padding-top: 290px;
     z-index: 7; 
             -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#book3 {
    position: absolute;
     left: 220px;
     padding-top: 200px;
     z-index: 4; 
}

#book4 {
    position: absolute;
     left: -20px;
     padding-top: 160px;
     z-index: 2; 
                 -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


#paperPlane {
    position: absolute;
    top:300px;
    left:400px; 
    z-index: 1; 
    
    -webkit-animation: paperPlane 5s;
     animation: paperPlane 5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;  
    animation-iteration-count: 1;
}

@keyframes paperPlane {
    0% {
transform: translatex(0px) translatey(0px)
    }
    100% {
transform: translatex(-700px) translatey(-700px);
    }
}

#paperPlane2 {
    position: absolute;
    top:300px;
    left:0px;
    z-index: 5; 
    
    -webkit-animation: paperPlane2 7s; 
     animation: paperPlane2 7s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;  
    animation-iteration-count: 1;
}

@keyframes paperPlane2 {
    0% {
transform: translatex(-800px) translatey(0px)
    }
    100% {
transform: translatex(700px) translatey(-700px);
    }
}



#paperBoat {
    position: absolute;
     left: -200px;
     padding-top: 415px;
     z-index: 6;
    
    -webkit-animation: paperBoat 12s; 
     animation: paperBoat 12s;
    -webkit-animation-delay: 2s;  
    animation-delay: 2s;
    animation-timing-function: linear;    
}

@-webkit-keyframes paperBoat {
    from {left: -350px;}
    to {left: 600px;}
}

@keyframes paperBoat {
    from {left: -350px;}
    to {left: 600px;}
}

#paperBoat2 {
     position: absolute;
     left: 400px;
     padding-top: 530px;
     z-index: 10;
    
    -webkit-animation: paperBoat2 8s; 
     animation: paperBoat2 8s;
    -webkit-animation-delay: 8s;  
    animation-delay: 8s;
    animation-timing-function: linear;    
}

@-webkit-keyframes paperBoat2 {
    from {left: 1000px;}
    to {left: -200px;}
}

@keyframes paperBoat2 {
    from {left: 1000px;}
    to {left: -200px;}
}



#waves1 {
    position: absolute;
     left: 0px;
     padding-top: 660px;
     z-index: 11; 
    
    animation-timing-function: linear; 
    -webkit-animation-name: wave1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: wave1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wave1 {
    0%   {left:0px;}
    100% {left:-180px;}
}

/* Standard syntax */
@keyframes  wave1 {
    0%   {left:0px;}
    100% {left:-180px;}
}


#waves2 {
    position: absolute;
     left: 0px;
     padding-top: 510px;
     z-index: 8; 
    
    animation-timing-function: linear; 
    -webkit-animation-name: waves2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: waves2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes waves2 {
    0%   {left:-180px;}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes waves2 {
    0%   {left:-180px;}
    100% {left:0px;}
}


#waves3 {
    position: absolute;
     left: 0px;
     padding-top: 350px;
     z-index: 5;
    
        animation-timing-function: linear; 
    -webkit-animation-name: wave3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: wave3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wave3 {
    0%   {left:0px;}
    100% {left:-180px;}
}

/* Standard syntax */
@keyframes  wave3 {
    0%   {left:0px;}
    100% {left:-180px;}
}


#waves4 {
    position: absolute;
     left: 0px;
     padding-top: 260px;
     z-index: 3; 
    
        animation-timing-function: linear; 
    -webkit-animation-name: waves4; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: waves4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes waves4 {
    0%   {left:-180px;}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes waves4 {
    0%   {left:-180px;}
    100% {left:0px;}
}





/*  ------------page 8----------- */


.wrapper8 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #a09dd0 0%, #b79587 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

#paperPlane3 {
    position: absolute;
     left: -200px;
     padding-top: 500px;
     z-index: 5; 
    
    -webkit-animation: paperPlane3 5s; 
     animation: paperPlane3 5s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    animation-timing-function: linear;  
    animation-iteration-count: 1;
}

@keyframes paperPlane3 {
    0% {
transform: translatex(0px) translatey(0px)
    }
    100% {
transform: translatex(700px) translatey(-700px);
    }

}



#bubbleCloud1 {
    position: absolute;
     left: -40px;
     padding-top: 80px;
     z-index: 2; 

    -webkit-animation-name: bubbleCloud1; 
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    
    animation-name: bubbleCloud1;
    animation-duration: 3s;
    animation-iteration-count: 1;
 
    -webkit-filter: drop-shadow(0px 0px 6px white);
}

@keyframes bubbleCloud1 {
   from {left: -90px;}
    to {left: -40px;}

}

#bubbleCloud2 {
    position: absolute;
     left: 180px;
     padding-top: 130px;
     z-index: 3;
    

    -webkit-animation-name: bubbleCloud2; 
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    
    animation-name: bubbleCloud2;
    animation-duration: 3s;
    animation-iteration-count: 1;
 
    -webkit-filter: drop-shadow(0px 0px 6px white);
}

@keyframes bubbleCloud2 {
    from {left: 230px;}
    to {left: 180px;}
}





#crystals {
    position: absolute;
     left: 40px;
     padding-top: 380px;
     z-index: 2; 
      -webkit-filter: drop-shadow(0px 0px 6px white);
}




#bubble {
    position: absolute;
     left: 153px;
     padding-top: 180px;
     z-index: 4; 
}

#bubble2 {
    position: absolute;
     left: 109px;
     padding-top: 210px;
     z-index: 5; 
}

#bubble3 {
    position: absolute;
     left: 212px;
     padding-top: 214px;
     z-index: 6; 
}

#bubble4 {
    position: absolute;
     left: 263px;
     padding-top: 280px;
     z-index: 5; 
}

#bubble5 {
    position: absolute;
     left: 172px;
     padding-top: 245px;
     z-index: 7; 
}

#bubble6 {
    position: absolute;
     left: 92px;
     padding-top: 258px;
     z-index: 7; 
}

#bubble7 {
    position: absolute;
     left: 233px;
     padding-top: 275px;
     z-index: 7; 
}

#bubble8 {
    position: absolute;
     left: 119px;
     padding-top: 285px;
     z-index: 7; 
}

#bubble9 {
    position: absolute;
     left: 144px;
     padding-top: 310px;
     z-index: 7; 
}

#bubble10 {
    position: absolute;
     left: 119px;
     padding-top: 285px;
     z-index: 8; 
}

#bubble11 {
    position: absolute;
     left: 104px;
     padding-top: 330px;
     z-index: 7; 
}

#bubble12 {
    position: absolute;
     left: 278px;
     padding-top: 332px;
     z-index: 7; 
}


/* -------------page 9------------ */



.wrapper9 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #6a6a7e 0%, #212445 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}


#tree1 {
    position: absolute;
    left: -50px;
    padding-top: 0px;
    z-index: 10;
    
    	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    
    -webkit-filter: drop-shadow(0px 0px 2px white);
}

#1green {
    position: absolute;
     left: -30px;
     padding-top: 280px;
     z-index: 5; 
}

#1brown {
     position: absolute;
     left: -30px;
     padding-top: 366px;
     z-index: 4;
}

#1brown2 {
     position: absolute;
     left: -30px;
     padding-top: 490px;
     z-index: 3;
}


#1road{
    position: absolute;
     left: 300px;
     padding-top: 300px;
     z-index: 7;
}

#1trees1 {
    position: absolute;
     left: -50px;
     padding-top: 165px;
     z-index: 8;
}

#1trees2 {
    position: absolute;
     left: 250px;
     padding-top: 185px;
     z-index: 7;
}

#1bush1 {
    position: absolute;
     left: -20px;
     padding-top: 450px;
     z-index: 12;
}

#1bush2 {
    
    position: absolute;
     left: 350px;
     padding-top: 460px;
     z-index: 11;
}

#ratComplete {
    left:110px;
    padding-top: 385px;
    position: relative;
    align-content:left;
    text-align:left;
    z-index:20;
    

}


/* -----------page 10---------- */


.wrapper10 {   
    margin: 0 auto;
    position: relative;
    background:  linear-gradient(to bottom, #6a6a7e 0%, #212445 81%);
    overflow: hidden;
    max-height: 736px;
    max-width: 414px;
    min-height: 736px;
    min-width: 414px;
    height: auto;
}

.scrollBox2 {  
    position:absolute;
    text-align: center;
    left: 60px;
    top: 50px;
    padding: 20px;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border: 1px solid #ccc;
    font: 16px Georgia, Garamond, Serif;
    background: white;
    overflow:scroll;
    z-index:15;
}